.container1 {
    display: grid;
}

.checkbox-container::-webkit-scrollbar {
    width: 9px;
}

.checkbox-container::-webkit-scrollbar-track {
    background: #4c4a4e;
    border-radius: 5px;
}

.checkbox-container::-webkit-scrollbar-thumb {
    background: #1a8b34;
    border-radius: 5px;
}

.checkbox-container {
    background: #6bc29b;
    color: #2f3030;
    max-height: 200px;
    max-width: 100%;
    overflow: auto;
    border-radius: 12px;
}

.checkbox {
    height: 100%;
    display: inline-block;
    width: 40%;
}

.checkboxList {
    list-style-type: none;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.checkboxList .item {
    display: inline-block;

    /* top bottom right left */
    margin: 10% 10% 5% 6%;
}

.item {
    border-radius: 12px;
}

.filterTitle {
    text-align: center;
    color: #2f3030;
    background: #1a8b34;
    border-radius: 12px;
    padding: 10px;
    margin: 0;
}





.checkbox-label {
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 4px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
    background-color: #428d38;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
