.container {
    display: block;
}

.checkbox-container::-webkit-scrollbar {
    width: 9px;
}

.checkbox-container::-webkit-scrollbar-track {
    background: #4c4a4e;
    border-radius: 5px;
}

.checkbox-container::-webkit-scrollbar-thumb {
    background: #1a8b34;
    border-radius: 5px;
}

.checkbox-container {
    background: #6bc29b;
    color: #2f3030;
    max-height: 200px;
    max-width: 100%;
    overflow: auto;
    border-radius: 12px;
}

.checkbox {
    height: 100%;
    display: inline-block;
    width: 48%;
}

.checkbox_firstFilter {
    margin-top: 80px;
}

.checkbox_secondFilter {

}

.category {
    display: grid;
    justify-content: center;
}

.checkboxList {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
}

.checkboxList .item {
    display: inline-block;
    width: 80%;
    /* top bottom right left */
    margin: 10% 10% 5% 6%;
}

.item {
    border-radius: 12px;
}

.filterTitle {
    text-align: center;
    color: #2f3030;
    background: #1a8b34;
    border-radius: 12px;
    padding: 10px;
    margin: 0;
}

.checkbox .container-title1 {
    font-family: "Verdana", Times, serif;
    content: url("../icons/firstSetOfFilters.jpg");
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.checkbox .container-title2 {
    font-family: "Verdana", Times, serif;
    content: url("../icons/secondSetOfFilters.jpg");
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.checkbox-label {
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 4px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
    background-color: #428d38;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .filterTitle {
        font-size: 12px;
    }

    .stepText {
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .filterTitle {
        font-size: 12px;
    }

    .stepText {
        font-size: 12px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .filterTitle {
        font-size: 12px;
    }

    .stepText {
        font-size: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .filterTitle {
        font-size: 22px;
    }

    .stepText {
        font-size: 12px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .filterTitle {
        font-size: 22px;
    }
    .filterTitle {
        font-size: 12px;
    }
}