.navbar
{
    position: fixed;
    background: black;
    height: 100vh;
    transition: width 600ms ease;
    width: 80px;
}

.navbar:hover
{
    width: 200px;
}

.navbar-ul
{
    background: #2a2532;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 100%;
}

.nav-item:hover
{
    background: rgb(110, 59, 26);
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding-left: auto;
    border-left: rgba(147,68,16,0.83) 5px solid;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.home-logo
{
    justify-content: center;
    height: 100%;
    width: 60px;
}

.nav-item .home-logo:hover
{
    width: 100%;
}

.nav-item
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    heigth: 40px;
    margin: 0.5em;
}

.nav-item:last-child
{
    margin-top: auto;
    margin-bottom: 10px;
    border-bottom: none;
}

main {
    margin-left: 150px;
}

body
{
    background-image: linear-gradient(302deg, rgba(184,105,41,1) 20%, rgba(43,39,45,0.8813725319229254) 68%, rgba(206,190,214,0.8813725319229254) 87%);
    margin: auto;
}

body::-webkit-scrollbar
{
    width: 3px;
    font-size: 20px;
}

body::-webkit-scrollbar-track
{
    background: black;
}

body::-webkit-scrollbar-thumb
{
    background: rgb(110, 59, 26);
}

.clr
{
    clear: both;
}