.navbar
{
    position: fixed;
    background: black;
    height: 70px;
    width: 100vw;
    padding: 0;
    top: 0;
    transition: height 600ms ease;
}

.navbar-ul:hover
{

}

.navbar-ul
{
    background: #2a2532;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 60px;
}

.nav-item:hover
{
    background: #428d38;
    //background: rgb(110, 59, 26);
    border-right: black 1px solid;
    border-left: black 1px solid;
    //border-top: rgba(147,68,16,0.83) 5px solid;
    border-top: #2a5c24 5px solid;
    padding-top: auto;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.nav-item
{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-bottom: 5px;
}

.nav-item:first-child
{
    float: left;
    margin-right: auto;
    margin-bottom: 5px;
    border-bottom: none;
    spadding-left: 5px;
    spadding-right: 5px;
}

.home-logo
{
    justify-content: center;
    height: 100%;
    width: 60px;
}

main
{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px
}

.main-textinfo
{
    width: 100%;
    height: 100%;
}

.grid
{
    display: inline-block;
    width: 48%;

    <!-- 100% - width%*2 = 2% padd + 2% marg -->

    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    font-size: 150px;
    text-align: left;
    align-items: center;
}

.male
{
    height: 300px;
    background: #2a2532;
    border: black 3px solid;
    border-radius: 20px;
    margin-left: 1%;
}

.female
{
    height: 300px;
    //background: rgba(184,105,41,1);
    background: #428d38;
    border: black 3px solid;
    border-radius: 20px;
    margin-left: 1%;
}

.male:hover
{
    background: black;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 0.5s ease-out;
}

.female:hover
{
    background: black;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 0.5s ease-out;
}

body
{
    //background: linear-gradient(302deg, rgba(184,105,41,1) 20%, rgba(43,39,45,0.8813725319229254) 68%, rgba(206,190,214,0.8813725319229254) 87%);
    background: linear-gradient(58deg, #428d38 20%, rgba(43,39,45,0.8813725319229254) 68%, rgba(206,190,214,0.8813725319229254) 87%);;
    height: auto;
    width: 100%;
    margin: auto;
    background-size: cover;
    text-align: justify;
    letter-spacing: 2px;
}

body main
{
    text-indent: 50px;
    background-color: white;
    padding: 25px 1%;
}

body::-webkit-scrollbar
{
    width: 9px;
}

body::-webkit-scrollbar-track
{
    background: black;
}

body::-webkit-scrollbar-thumb
{
    //background: rgb(110, 59, 26);
    background: #2a5c24;
    border-radius: 5px;
}

header
{
    background: black;
    margin-top: 10px;
    height: 100%;
    padding: 20px;
    font-family: Impact, Charcoal, sans-serif;
    color: #4c4a4e;
}

header b
{
    font-size: 40px;
}

header .breakLine
{
    display: inline-block;
    width: 100%;
    border-bottom: #282729 1px solid;
}

header .specialThanks
{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
}

header .boxes
{
    display: flex;
    flex-direction: row;
    align-self: auto;
    font-family: "Fira Code", serif;
}

.boxes .contactUs
{
    margin-left: 4%;
    width: 46%;
}

.boxes .aboutUs
{
    margin-right: 4%;
    width: 46%;
    text-align: center;
}

.clr
{
    clear: both;
}