html {
    display: block;
}

body {
    background: linear-gradient(58deg, #428d38 20%, rgba(43, 39, 45, 0.8813725319229254) 68%, rgba(206, 190, 214, 0.8813725319229254) 87%);
    margin: 0;
    padding: 0;
    font-size: 12pt;
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
    background-size: cover;
    text-align: justify;
    letter-spacing: 2px;
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: #2a5c24;
    border-radius: 5px;
}

.nav-bar {
    overflow: hidden;
    width: 100%;
    top: 0;
    position: static;
    border: 0.5vw black solid;
    background: #2a2532;
    display: flex;
    justify-content: flex-end;
}

/* navigation bar items */
.nav-bar a {
    height: 100%;
    width: 4vw;
    padding: 0;
    margin-right: 1vw;
    margin-left: 1vw;
}

.nav-bar a:hover {
    height: 100%;
    background: #428d38;
    transition: ease-in-out all .4s;
}

.nav-bar a:first-child {
    margin-right: auto;
}

.item-home {
    content: url("icons/home-logo.png");
}

.item-contact {
    content: url("icons/contact.png");
}

.item-lang {
    content: url("icons/lang.png");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        padding: 5% 5%;
    }

    footer .boxes {
        display: flex;
        flex-direction: column;
        align-self: auto;
        font-family: "Fira Code", serif;
    }

    .boxes .usefulLinks {
        width: 100%;
        text-align: left;
    }

    .boxes .aboutUs {
        width: 100%;
    }

    .title-font {
        font-size: 13pt;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        padding: 5% 5%;
    }

    .title-font {
        font-size: 15pt;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        padding: 5% 5%;
    }

    .title-font {
        font-size: 20pt;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        padding: 5% 3%;
    }

    footer .boxes {
        display: flex;
        flex-direction: row;
        align-self: auto;
        font-family: "Fira Code", serif;
    }

    .title-font {
        font-size: 30pt;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        padding: 5% 3%;
    }

    footer .boxes {
        display: flex;
        flex-direction: row;
        align-self: auto;
        font-family: "Fira Code", serif;
    }

    .boxes .usefulLinks {
        margin-left: 3%;
        width: 47%;
        text-align: left;
    }

    .boxes .aboutUs {
        width: 35%;
        margin-left: 15%;
    }

    .title-font {
        font-size: 25pt;
    }
}

.empty-pre {
    height: 300px;
}

.title-font {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 0;
}

footer {
    background: black;
    margin-top: 10px;
    padding: 20px;
    font-family: Impact, Charcoal, sans-serif;
    color: #4c4a4e;
}

footer b {
    font-size: 40px;
}

footer .copyright {
    text-indent: 0;
    text-align: center;
}

footer .copyright:hover {
    text-align: center;
    color: white;
}

footer .breakLine {
    display: inline-block;
    width: 100%;
    border-bottom: #282729 1px solid;
}

.usefulLinks span, .aboutUs span {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

.boxes .page {
    color: #428d38;
    text-decoration: none;
}

.page:hover {
    border: 1px white solid;
    font-size: 20px;
    transition: ease-in-out all .2s;
}

.boxes .mailto {
    color: #4c4a4e;
    text-decoration: none;
    padding-top: 20px;
}

/*
.aboutUs ul
{
    //list-style-type: none;
}

.mailto::before
{
    //content: url("icons/mailto-.png");
}

.aboutUs img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
 */

.mailto:hover {
    font-size: 25px;
    transition: ease-in-out all .2s;
    border-bottom-right-radius: 10px;
}

.boxes ul li {
    font-size: 13px;
    padding-top: 10px;
}

.results a {
    display: block;
    width: 100%;
}

.container {
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2vw;
    padding-top: 25px;
}

.container select {
    margin-top: 5%;
    margin-right: 5%;
    /*setez aici lungimea fiecarui bloc
    width: 33%;*/
}

.chart {
    width: 96%;
    height: 500px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 12pt;
}

form select {
    display: inline-block;
    justify-content: center;
}

.container button {
    color: white;
    width: 150px;
    height: 35px;
    background: #428d38;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 10px;
}

.container button:hover {
    background: lightgray;
    color: #4c4a4e;
    transition: ease-in-out all .2s;
    border: 2px #2a2532 solid;
    border-radius: 10px;
    cursor: pointer;
}

.container button:active {
    border: 2px #2a2532 solid;
    border-radius: 10px;
}
