*{
	/*font-size: 25px;*/
}

.bara_ecran_mare {
	opacity: 1;
  	overflow: hidden;
  	background-color: #23232e;
 	position: fixed;
  	top: 0;
}

.bara_ecran_mare a {
	font-size: 25px;
 	float: right;
 	display: block;
 	color: white;
 	text-align: center;
 	padding: 0.6rem;
 	text-decoration: none;
}

.bara_ecran_mic{
	opacity: 1;
  	overflow: hidden;
  	background-color: #23232e;
 	position: fixed;
  	top: 0;
}

.bara_ecran_mic a{
	font-size: 17px;
	width: 25%;
	float: right;
 	display: block;
 	color: white;
 	text-align: center;
 	padding-top: 0.5rem;
 	padding-bottom: 0.5rem;
 	padding: auto;
 	text-decoration: none;
}

.bara_ecran_mare a:hover {
	transform: rotate(-360deg);
	/*transform: translateX(-100px);*/
	transition: all 1s ease;
	opacity: 0.7s;
  	background: #ddd;
  	color: black;
}

.bara_ecran_mare a:first-child{
	float: left;
 	display: block;
 	color: white;
  	text-align: center;
  	text-decoration: none;
}

.bara_ecran_mare .homes:active, .languages:active, .logins:active, .signups:active{
	/*transform: rotate(-45deg);*/
	/*transform: translateX(-100px);*/
}

.bara_ecran_mic :hover{
	transform: rotate(0);
	transition: all 0s ease;
	opacity: 0.7s;
  	background: #ddd;
  	color: black;
}

body {
	margin: 0;
  	/*background-image: url("bmw.jpg");*/
  	background-image: url("background-site.png");
  	background-position: right bottom;
  	background-size: cover;
  	/*background-repeat: no-repeat, repeat;*/
}

.continut{
	/*position: absolute;*/
	overflow: auto;
	background-color: #e9ebee;
	display: flex;
	flex-wrap: wrap;
	color: green;
	background-color: rgba(255,255,255,.5);
	font-family: sans-serif;
}

.un_buton{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}
.homes{
	background:green;
	color: black;
}

@media only screen and (min-width:601px)
{/*ecran mare*/
	.bara_ecran_mic{
		display: none;
	}
	.bara_ecran_mare{
		width: 100%;
	}
	.continut{
		margin:3rem;
		margin-top: 60px;
		border:5px solid #23232e;
		padding: 0rem;
		font-size: 25px;
	}
	.primul_paragraf{
		/*font-size: 40px;*/
	}
}

@media only screen and (min-width:1205px)
{
	img {
		max-width: 100%;
  		border-radius: 50%;
	}
}

@media only screen and (min-width:993px) and (max-width:1205px)
{
	img {
		max-width: 100%;
  		border-radius: 50%;
	}
}

@media only screen and (max-width:992px) and (min-width:601px)
{
	.primul_paragraf{
		font-size: 40px;
		text-align: center;
	}
	img {
		max-width: 100%;
  		border-radius: 50%;
	}
}

@media only screen and (max-width:600px)
{/*ecran mic*/
	.bara_ecran_mare{
		display: none;
	}
	.bara_ecran_mic{
		width: 100%;
	}
	.continut{
		margin:0rem;
		margin-top: 1rem;
		padding: 0.7rem;
		font-size: 17px;
	}
	.primul_paragraf{
		font-size: 20px;
	}
	img{
		max-width: 100%;
		padding: 1%;
		border-radius: 50%;
		
	}
}