.navbar
{
    position: fixed;
    background: black;
    height: 70px;
    width: 100vw;
    padding: 0;
    top: 0;
    transition: height 600ms ease;
}

.navbar-ul:hover
{

}

.navbar-ul
{
    background: #2a2532;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 60px;
}

.nav-item:hover
{
    background: #428d38;
    //background: rgb(110, 59, 26);
    border-right: black 1px solid;
    border-left: black 1px solid;
    //border-top: rgba(147,68,16,0.83) 5px solid;
    border-top: #2a5c24 5px solid;
    padding-top: auto;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.nav-item
{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-bottom: 5px;
}

.nav-item:first-child
{
    float: left;
    margin-right: auto;
    margin-bottom: 5px;
    border-bottom: none;
    spadding-left: 5px;
    spadding-right: 5px;
}

.home-logo
{
    justify-content: center;
    height: 100%;
    width: 60px;
}	
	
body
{
	background: linear-gradient(58deg, #428d38 20%, rgba(43,39,45,0.8813725319229254) 68%, rgba(206,190,214,0.8813725319229254) 87%);;
    height: auto;
    width: 100%;
    margin: auto;
    background-size: cover;
    text-align: justify;
    letter-spacing: 2px;
	
	}
.site-bdy{
    margin: 30px;
    border: solid navajowhite;
    padding: 10px;

}
.title{
    margin: 10px;
    padding 10px;

}
.txt1{
    margin: 10px;
    padding: 10px;
    border: solid darkgrey;
    overflow: hidden;
}
#f-img{
    display:inline-flex;
    border: solid black;
    border-radius: 15px;
    height: 100px;
    length: 100px;
    float: right;
}
.clr{
    clear:both;
}
.img-box{
    margin:10px;
    padding-left:30%;
    overflow: hidden;
}
.s-img{
    display:inline-flex;
    border: solid black;
    border-radius: 15px;
    height: 300px;
    length: 300px;
    float: top;
}
#titlu-statistici{
    overflow:hidden;
}
#more\.jpg{
    isplay:inline-flex;
    border: solid black;
    border-radius: 15px;
    height: 40px;
    length: 60px;
    float: right;
}
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}